[cerb4]
exportDriver=com.cerb4.exporter.Driver
verbose=true
outputDir=cerb4-output
fixMagicQuotes=true

# cerb4HomeDir - Path to your cerberus home folder.  Always use forward slashes for directory separation.
cerb4HomeDir=C:/xampp/htdocs/cerberus4/

[database]
dbConnection=jdbc:mysql://127.0.0.1:3306/cerb4?characterEncoding=latin1
dbUser=root
dbPassword=

[tickets]
#exportTickets=true
#exportToGroup=Import:Cerb4
#exportMaskPrefix=CERB4
#exportTicketExcludeOpen=true
#exportTicketExcludeClosed=true

[workers]
#exportWorkers=true

[orgs]
#exportOrgs=true

[contacts]
#exportContacts=true

[knowledgebase]
#exportKb=true
#exportKbRoot=Cerb4
