[cerb3]
exportDriver=com.cerberusweb.cerb2.Driver

#exportEncoding the encoding to use on the generated export files - usually set to ISO-8859-1 or UTF-8  
exportEncoding=ISO-8859-1

verbose=true
outputDir=cerb2-output
fixMagicQuotes=true

[database]
dbConnection=jdbc:mysql://127.0.0.1:3306/cerb2

# dbCharacterEncoding should be set similar to your exportEncoding setting above - usually set to latin1 or utf8
dbCharacterEncoding=latin1

dbUser=root
dbPassword=

[tickets]
#exportTickets=true
#exportToGroup=Import:Cerb2
#exportMaskPrefix=CERB2
#exportTicketExcludeOpen=true
#exportTicketExcludeClosed=true

[workers]
#exportWorkers=true

[orgs]
#exportOrgs=true

[contacts]
#exportContacts=true

[knowledgebase]
#exportKb=true
#exportKbRoot=Cerb2