[Kayako]
exportDriver=com.webgroupmedia.cerb4.exporter.kayako.Driver
#exportEncoding - usually set to ISO-8859-1 or UTF-8  
exportEncoding=ISO-8859-1
verbose=true
outputDir=kayako-output
fixMagicQuotes=true

[database]
# A JDBC Connection string to your kayako database
# characterEncoding should be set similar to your exportEncoding setting above - latin1 or utf8  
dbConnection=jdbc:mysql://127.0.0.1:3306/kayako?characterEncoding=latin1

dbUser=root
dbPassword=

[tickets]
exportTickets=true
exportToGroup=Import:Kayako
#exportMaskPrefix=KYKO
#exportTicketExcludeOpen=true
#exportTicketExcludeClosed=true

[workers]
exportWorkers=true

[orgs]
exportOrgs=true

[contacts]
exportContacts=true

[knowledgebase]
exportKb=true
exportKbRoot=Kayako-imported
