[Kayako]
exportDriver=com.webgroupmedia.cerb4.exporter.kayako.Driver
verbose=true
outputDir=kayako-output
fixMagicQuotes=true

[database]
dbConnection=jdbc:mysql://192.168.1.132:3306/devarea_ss?characterEncoding=latin1
dbUser=mike
dbPassword=mike

[tickets]
exportTickets=false
exportToGroup=Import:Kayako
#exportMaskPrefix=KYKO
#exportTicketExcludeOpen=true
#exportTicketExcludeClosed=true

[workers]
exportWorkers=true

[orgs]
exportOrgs=true

[contacts]
exportContacts=true

[knowledgebase]
exportKb=true
exportKbRoot=Kayako-imported
